---
import Layout from "@/layouts/Layout.astro";
import Socials from "@/components/Socials.astro";
import Button from "@/components/ui/Button.astro";
import Input from "@/components/ui/Input.astro";
import TextArea from "@/components/ui/TextArea.astro";
---

<Layout
  title="contatos de sprucepad"
  desc="Minhas rede sociais e meu e-mail."
  class="mx-auto max-w-prose space-y-4"
>
  <h1 class="font-heading text-6xl">Contato</h1>

  <Socials />

  <form action="mailto:sprucepadhq@gmail.com" class="flex flex-col gap-4">
    <label for="contact-form-subject" class="flex flex-col">
      Sujeito
      <Input
        name="subject"
        id="contact-form-subject"
        type="text"
        placeholder="Sobre o quê você quer me falar?"
      />
    </label>

    <label for="contact-form-body" class="flex flex-col">
      Corpo
      <TextArea
        name="body"
        id="contact-form-body"
        placeholder="O que você quer me falar?"
      />
    </label>

    <Button type="submit">Enviar</Button>
  </form>
</Layout>
