---
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="site do sprucepad"
  desc="Meu site pessoal, mostrando meus projetos e minha arte."
  class="grid place-content-center"
>
  <h1 class="font-heading text-6xl font-black">Olá, Mundo!</h1>
</Layout>
