---
import Layout from "@/layouts/Layout.astro";
import Cards from "@/components/Cards.svelte";

import { getCollection } from "@/lib/custom-collection";

const locale = Astro.currentLocale ?? "pt";

const topics = await getCollection("topics", { imageKey: "icon" });
const cards = await getCollection("posts", { locale, imageKey: "image" });
---

<Layout title="projetos por sprucepad" desc="Meus projetos de programação.">
  <h1 class="font-heading text-4xl">Projetos</h1>

  <Cards
    cards={cards.map((c) => ({
      id: c.id,
      title: c.data.title,
      desc: c.data.desc,
      topics: c.data.topics.map((t) => t.id),
      image: c.image
        ? {
            src: c.image.src,
            width: c.image.options.width!,
            height: c.image.options.height!,
          }
        : null,
    }))}
    href="/posts"
    topics={topics.map((t) => ({
      id: t.id,
      ...t.data,
    }))}
    {locale}
    client:load
  />
</Layout>
