---
import Layout from "@/layouts/Layout.astro";
import Cards from "@/components/Cards.svelte";

import { getCollection } from "@/lib/custom-collection";
import { getRelativeLocaleUrl } from "astro:i18n";
import { card, topic } from "@/lib/mappers";

const locale = Astro.currentLocale ?? "pt";

const topics = await getCollection("topics", { imageKey: "icon" });
const cards = await getCollection("projects", { locale, imageKey: "image" });
---

<Layout title="projetos por sprucepad" desc="Meus projetos de programação.">
  <h1 class="font-heading text-4xl">Projetos</h1>

  <Cards
    cards={cards.map(card())}
    topics={topics.map(topic(locale))}
    href={getRelativeLocaleUrl(locale, "/projects")}
    placeholder="Pesquisar projetos..."
    empty="Nada aqui ainda!"
    client:load
  />
</Layout>
