---
import Layout from "@/layouts/Layout.astro";
import Cards from "@/components/Cards.svelte";

import { getCollection } from "@/lib/filtered-collection";

const locale = Astro.currentLocale ?? "pt";

const topics = await getCollection(locale, "topics", "icon");
const cards = await getCollection(locale, "projects", "image");
---

<Layout title="projetos por sprucepad" desc="Meus projetos de programação.">
  <h1 class="font-heading text-4xl">Projetos</h1>

  <Cards {cards} {topics} {locale} client:load />
</Layout>
