@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-dm-sans);
  --font-mono: var(--font-jetbrains-mono);
  --font-heading: var(--font-peaberry);

  --color-background: #eeeeee;
  --color-foreground: #111111;
}

@layer base {
  html,
  body {
    @apply bg-background text-foreground h-full;
  }
}
