@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is([data-theme="dark"] *));

@theme inline {
  --font-sans: var(--font-dm-sans);
  --font-mono: var(--font-jetbrains-mono);
  --font-heading: var(--font-peaberry);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --shadow-neobrutal: 0.3rem 0.3rem 0 var(--foreground);
  --shadow-neobrutal-sm: 0.1rem 0.1rem 0 var(--foreground);
}

:root {
  --background: #eeeeee;
  --foreground: #111111;
  --accent: #c9ade9;
  --accent-foreground: #111111;
  --secondary: #487f58;
  --secondary-foreground: #eeeeee;
}

[data-theme="dark"] {
  --background: #111111;
  --foreground: #eeeeee;
  --accent: #c9ade9;
  --accent-foreground: #111111;
  --secondary: #487f58;
  --secondary-foreground: #eeeeee;
}

@layer base {
  html,
  body {
    @apply h-full;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@utility pixel-art {
  image-rendering: pixelated;
}
