---
import Layout from "@/layouts/Layout.astro";
import { buttonStyles } from "@/components/ui/Button.astro";
import Mixed from "@/components/Mixed.astro";

export const prerender = false;

const table = {
  pt: {
    title: "404 Não Encontrada",
    desc: "Essa página não existe!",
    button: "Página inicial",
  },
  en: {
    title: "404 Not Found",
    desc: "This page doesn't exist!",
    button: "Home page",
  },
} as const;
const t = (key: keyof (typeof table)[keyof typeof table]) =>
  table[Astro.currentLocale as keyof typeof table][key]!;
---

<Layout title={t("title")} desc={t("desc")}>
  <Mixed class="gap-4 p-4">
    <h1
      class="mixed-text from-art-foreground to-code-foreground font-heading text-4xl font-black"
    >
      {t("desc")}
    </h1>
    <a
      class={buttonStyles({ variant: "mixed" })}
      href={`/${Astro.currentLocale}`}
      ><span
        class="mixed-text from-art-accent-foreground to-code-accent-foreground"
        >{t("button")}</span
      ></a
    >
  </Mixed>
</Layout>
