---
import Layout from "@/layouts/Layout.astro";

export const prerender = false;
---

<Layout
  title="sprucepad's website"
  desc="My personal website, containing my projects and art."
  class="grid place-content-center"
>
  <h1 class="text-6xl font-black">Wait a second...</h1>
  <h1 class="text-6xl font-black">Espere um segundo...</h1>
</Layout>
