---
import Button from "@/components/ui/Button.astro";
import Input from "@/components/ui/Input.astro";
import TextArea from "@/components/ui/TextArea.astro";

import t from "@/i18n";
const locale = Astro.currentLocale ?? "pt";
---

<form action="mailto:sprucepadhq@gmail.com" class="flex flex-col gap-4">
  <label for="contact-form-subject" class="flex flex-col">
    {t(locale, "contact.subject.text")}
    <Input
      name="subject"
      id="contact-form-subject"
      type="text"
      placeholder={t(locale, "contact.subject.placeholder")}
    />
  </label>

  <label for="contact-form-body" class="flex flex-col">
    {t(locale, "contact.body.text")}
    <TextArea
      name="body"
      id="contact-form-body"
      placeholder={t(locale, "contact.body.placeholder")}
    />
  </label>

  <Button type="submit">{t(locale, "contact.submit")}</Button>
</form>
