---
import LanguageSelection from "./LanguageSelection.astro";
import Link from "./ui/Link.astro";
---

<footer class="space-y-4 border-t-2 p-4" transition:persist>
  <LanguageSelection />

  <div class="opacity-50">
    <p>
      Copyright &copy; 2026-{new Date().getFullYear()} sprucepad. Under three different
      licenses:
    </p>
    <ul class="ml-4 list-disc">
      <li>
        Code: <Link href="https://opensource.org/licenses/mit">MIT License</Link
        >
      </li>
      <li>
        Content (assets, images, artwork, audio, text, etc.): <Link
          href="https://github.com/sprucepad/website/tree/main/content/LICENSE.txt"
          >All Rights Reserved</Link
        >, unless stated otherwise
      </li>
      <li>
        Fonts: <Link href="https://openfontlicense.org/documents/OFL.txt"
          >SIL Open Font License (OFL) 1.1</Link
        >
      </li>
    </ul>

    <p>Credits!</p>
    <ul class="ml-4 list-disc">
      <li>
        Peaberry (the font you see in headings), <Link
          href="https://emhuo.itch.io/">by Emily Huo</Link
        >
      </li>
    </ul>
  </div>
</footer>
