---
import pfp from "@content/assets/pfp.png";
import MenuIcon from "@/icons/menu.svg";
import XIcon from "@/icons/x.svg";

import PixelArt from "./ui/PixelArt.astro";
import { cn } from "@/lib/utils";

import t from "@/i18n";
import { getRelativeLocaleUrl } from "astro:i18n";
import Link from "./ui/Link.astro";
const locale = Astro.currentLocale ?? "pt";

const items = [
  {
    label: t(locale, "nav.home"),
    href: "/",
  },
  {
    label: t(locale, "nav.about"),
    href: "/about",
  },
  {
    label: t(locale, "nav.projects"),
    href: "/projects",
  },
  {
    label: t(locale, "nav.art"),
    href: "/art",
  },
  {
    label: t(locale, "nav.posts"),
    href: "/posts",
  },
  {
    label: t(locale, "nav.contact"),
    href: "/contact",
  },
];
---

<header
  class="bg-background fixed inset-0 z-50 flex h-fit w-full items-center justify-between border-b-2 p-2"
  transition:name="header"
>
  <Link
    href="/"
    class="font-heading flex items-center gap-2 text-xl font-black no-underline"
  >
    <PixelArt width={48} height={48} src={pfp} alt="Logo" />
    sprucepad
  </Link>

  <input type="checkbox" class="peer hidden" id="header-toggle" />
  <label
    for="header-toggle"
    class="cursor-pointer sm:hidden peer-checked:[&_.menu]:hidden peer-checked:[&_.x]:block"
  >
    <MenuIcon class="menu" />
    <XIcon class="x hidden" />
    <span class="sr-only">Menu</span>
  </label>

  <nav
    class="bg-background fixed top-16 right-0 h-full translate-x-full transform border-l-2 p-4 transition-transform peer-checked:translate-x-0 sm:static sm:translate-x-0 sm:border-0 sm:p-0"
  >
    <menu class="flex flex-col gap-4 sm:flex-row">
      {
        items.map(({ href, label }) => {
          const active =
            getRelativeLocaleUrl(locale, href) ===
            getRelativeLocaleUrl(locale, "/")
              ? Astro.url.pathname === getRelativeLocaleUrl(locale, href)
              : Astro.url.pathname.startsWith(
                  getRelativeLocaleUrl(locale, href),
                );
          return (
            <li>
              <Link
                class={cn(
                  "p-2 no-underline",
                  active &&
                    "bg-accent neobrutal transition-shadow hover:shadow-none",
                )}
                {href}
              >
                {label}
              </Link>
            </li>
          );
        })
      }
    </menu>
  </nav>
</header>
