---
import MailIcon from "@/icons/mail.svg";
---

<a
  class="neobrutal flex w-full items-center gap-1 p-2 transition-shadow hover:shadow-none"
  href="mailto:sprucepadhq@gmail.com"
>
  <MailIcon />
  sprucepadhq@gmail.com
</a>
