---
import { cn } from "@/lib/utils";
import type { HTMLAttributes } from "astro/types";
import MouseSketches from "./MouseSketches.astro";
import AsciiArt from "./AsciiArt.astro";

type Props = HTMLAttributes<"div">;

const { class: className, ...rest } = Astro.props;
---

<main
  class="grid min-h-full grid-cols-2 grid-rows-1 place-content-center"
  transition:name="main"
  transition:animate="slide"
>
  <div
    class="art-side peer group absolute top-0 left-0 h-full w-1/2 bg-art-background transition-[width,z-index] hover:z-30 hover:w-[75%] data-active:z-30 data-active:w-[75%]"
    id="art-side"
  >
    <div class="absolute inset-0">
      <MouseSketches />
    </div>
    <div
      class="invisible relative h-full opacity-0 transition-[opacity,visibility] group-hover:visible group-hover:opacity-100 group-data-active:visible group-data-active:opacity-100"
    >
      <slot name="art" />
    </div>
  </div>
  <div
    class="code-side peer group absolute top-0 right-0 h-full w-1/2 bg-code-background transition-[width,z-index] hover:not-peer-data-active:z-30 hover:not-peer-data-active:w-[75%] data-active:z-30 data-active:w-[75%]"
    id="code-side"
  >
    <div class="absolute inset-0 overflow-hidden">
      <AsciiArt />
    </div>
    <div
      class="invisible relative h-full opacity-0 transition-[opacity,visibility] group-hover:visible group-hover:opacity-100 group-data-active:visible group-data-active:opacity-100"
    >
      <slot name="code" />
    </div>
  </div>

  <div
    class={cn(
      "pointer-events-none absolute inset-0 z-40 flex flex-col items-center justify-center transition-[opacity,visibility] peer-hover:invisible peer-hover:opacity-0 peer-data-active:visible peer-data-active:opacity-0",
      className,
    )}
    id="center"
    {...rest}
  >
    <slot />
  </div>
</main>

<script>
  const $artSide = document.getElementById("art-side") as HTMLDivElement;
  const $codeSide = document.getElementById("code-side") as HTMLDivElement;

  $artSide.addEventListener("click", () => {
    $codeSide.removeAttribute("data-active");
    $artSide.toggleAttribute("data-active");
  });

  $codeSide.addEventListener("click", () => {
    $artSide.removeAttribute("data-active");
    $codeSide.toggleAttribute("data-active");
  });
</script>
