---
import Cards from "@/components/Cards.svelte";
import ArtLayout from "@/layouts/ArtLayout.astro";
import { getCollection } from "@/lib/custom-collection";
import { card, topic } from "@/lib/mappers";
import { getRelativeLocaleUrl } from "astro:i18n";

const locale = Astro.currentLocale!;

const cards = await getCollection("artPosts", { locale });
const topics = await getCollection("topics");
---

<ArtLayout
  title="art blog | sprucepad"
  desc="Post index of sprucepad's art blog."
>
  <section class="flex flex-col gap-4 p-4 pt-24">
    <h1 class="font-heading text-4xl font-black">Art Blog</h1>
    <Cards
      cards={cards.map(card())}
      topics={topics.map(topic(locale))}
      href={getRelativeLocaleUrl(locale, "/art/blog")}
      placeholder="Search in posts..."
      empty="Nothing here yet!"
      variant="art"
    />
  </section>
</ArtLayout>
