---
import MouseSketches from "@/components/MouseSketches.astro";
import Socials from "@/components/Socials.astro";
import Typewriter from "@/components/Typewriter.svelte";
import ArtLayout from "@/layouts/ArtLayout.astro";
import Cards from "@/components/Cards.svelte";
import Gallery from "@/components/Gallery.svelte";
import Link from "@/components/ui/Link.astro";
import { card, album, topic } from "@/lib/mappers";
import { getCollection } from "@/lib/custom-collection";
import { getRelativeLocaleUrl } from "astro:i18n";

const locale = Astro.currentLocale!;

const artBlog = await getCollection("artPosts", { imageKey: "image", locale });
const topics = await getCollection("topics");
const gallery = await getCollection("gallery");
---

<ArtLayout title="sprucepad (art)" desc="The creative side of sprucepad.net!">
  <section class="relative grid h-[85svh] place-content-center gap-4 p-4">
    <div class="absolute inset-0 -z-50">
      <MouseSketches />
    </div>

    <h1 class="text-center font-heading text-5xl font-black">
      Welcome to my website!
    </h1>
    <h2 class="text-center text-3xl font-black">
      I am a
      <Typewriter
        class="font-heading"
        words={["pixel artist", "game developer"]}
        client:load
      />, from Brazil.
    </h2>
  </section>

  <Socials class="m-4 mx-auto w-fit rounded-lg neobrutal p-4" />

  <section
    class="flex h-[calc(100vh-10rem)] flex-col gap-4 bg-accent p-16 text-accent-foreground"
  >
    <h1 class="text-center font-heading text-4xl">Art Blog</h1>

    <div class="min-h-0 flex-1 mask-b-to-transparent">
      <Cards
        variant="art"
        cards={artBlog.map(card()).slice(0, 3)}
        topics={topics.map(topic(locale))}
        href={getRelativeLocaleUrl(locale, "/art/blog")}
        placeholder="Search in posts..."
        empty="Nothing here yet!"
        client:load
      />
    </div>

    <p class="text-center"><Link href="/art/blog">More posts...</Link></p>
  </section>

  <section class="h-[calc(100vh - 10rem)] flex flex-col gap-4 p-16">
    <h1 class="text-center font-heading text-4xl">My art</h1>

    <div class="min-h-0 flex-1 mask-b-to-transparent">
      <Gallery
        variant="art"
        images={gallery.flatMap(album(locale)).slice(0, 4)}
        empty="Nothing here yet!"
        placeholder="Search in gallery..."
        client:load
      />
    </div>

    <p class="text-center"><Link href="/art/gallery">More art...</Link></p>
  </section>
</ArtLayout>
