---
import { cn } from "@/lib/utils";
import Layout, { type LayoutProps } from "./Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";

type Props = LayoutProps;

const { class: className, ...props } = Astro.props;
---

<Layout class={cn("art-side", className)} {...props}>
  <Header variant="art" />
  <main transition:name="main" transition:animate="slide" class="min-h-full">
    <slot />
  </main>
  <Footer variant="art" />
</Layout>
