---
import { cn } from "@/lib/utils";
import Layout, { type LayoutProps } from "./Layout.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";

type Props = LayoutProps;

const { class: className, ...rest } = Astro.props;
---

<Layout class={cn("code-side", className)} {...rest}>
  <Header variant="code" />
  <main transition:name="main" transition:animate="slide" class="min-h-full">
    <slot />
  </main>
  <Footer variant="code" />
</Layout>
