---
import Cards from "@/components/Cards.svelte";
import CodeLayout from "@/layouts/CodeLayout.astro";
import { getCollection } from "@/lib/custom-collection";
import { card, topic } from "@/lib/mappers";
import { getRelativeLocaleUrl } from "astro:i18n";

const locale = Astro.currentLocale!;

const cards = await getCollection("projects", { imageKey: "image", locale });
const topics = await getCollection("topics");
---

<CodeLayout
  title="projetos | sprucepad"
  desc="Todos os projetos de programação feitos por sprucepad."
>
  <section class="flex flex-col gap-4 p-4 pt-24">
    <h1 class="font-heading text-4xl font-black">Projetos</h1>
    <Cards
      cards={cards.map(card())}
      href={getRelativeLocaleUrl(locale, "/code/projects")}
      empty="Nada aqui ainda!"
      placeholder="Pesquisar nos projetos..."
      topics={topics.map(topic(locale))}
      variant="code"
      client:load
    />
  </section>
</CodeLayout>
